<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  <app-nav></app-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
     <app-sidenav></app-sidenav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-11 grid-margin stretch-card">
                    <div class="card position-relative">
                        <div class="card-body">
                            <div 
                                class="carousel slide detailed-report-carousel position-static pt-2"
                                data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                          <div class="col-md-11 col-xl-3 d-flex flex-column justify-content-start">
                                            <div class="ml-xl-4 mt-3">
                                              <span style="text-align: left; font-size:larger;"><h3> Mon Profil </h3></span>
                                              
                                             <div class="d-flex">
                                              <img src="assets/images/fran.jpg" alt="user" style=" width: 173px;height: 172px; border-radius: 200px; margin-left: 6px; margin-top: 19px;">
                                             </div>
                                             </div>  
                                             </div>
                                            <div class="col-md-12 col-xl-9">
                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div >
                                                            <table class="table table-borderless report-table">
                                                                <tr>
                                                                    <td class="text-muted">Nom: </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">{{user?.firstName}}</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Prénom: </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">{{user?.lastName}}
                                                                        </h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Date de Naissance:
                                                                    </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            {{user?.birthday}}</h5>
                                                                    </td>
                                                                </tr>  
                                                                <tr>
                                                                    <td class="text-muted">E-mail: </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                          {{user?.email}} </h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Téléphoone: </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                           {{user?.telephone}} </h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Mot de passe: </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            {{user?.password}}</h5>
                                                                    </td>
                                                                    <td>
                                                                        <div class="template-demo">
                                                                            <!-- <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#modifierModal" href="#modifierModal" aria-expanded="false" aria-controls="ui-basic" >
                                                                              <i class="ti-pencil-alt btn-icon-prepend"></i>                                                    
                                                                              Modifier
                                                                            </button> -->
                                                                            <button type="button" class="btn btn-primary btn-icon-text"(click) = "this.showModal = true" >
                                                                              <i class="ti-pencil-alt btn-icon-prepend"></i>                                                    
                                                                              Modifier
                                                                            </button>
                                                                          </div>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   
        <!-- content-wrapper ends -->
         <!-- Modal for Attestation  -->
  <app-modal [showModal] = "this.showModal" (onClose)="this.showModal = false"></app-modal>
  <!-- Modal for Bilan Absence -->
 

        <!-- partial:partials/_footer.html -->
        <app-footer></app-footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->