    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="home">
            <i class="bi bi-house-check-fill menu-icon "></i>
            <span class="menu-title">Accueil</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard">
            <i class="bi bi-kanban-fill menu-icon "></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="profile">
            <i class="bi bi-people-fill menu-icon "></i>
            <span class="menu-title">Mon Profil</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#doc" aria-expanded="false" aria-controls="ui-basic">
            <i class="bi bi-filetype-xls menu-icon"></i>
            <span class="menu-title">Documents</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="doc">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="documents">Tous les documents</a></li>
              <li class="nav-item"> <a class="nav-link" href="my-documents">Mes documents</a></li>
             
            </ul>
          </div>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="notifications">
            <i class="bi bi-bell-fill menu-icon "></i>
            <span class="menu-title">Notifications</span>
          </a>
        </li>
        
      </ul>
    </nav>