<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>USJ-ENT</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link href="../../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="../../js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/logo_isj.png" />
  </head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="../Accueil.html"><img src="../../images/logo_isj.png" class="mr-2" alt="logo"/></a>
        <!--<a class="navbar-brand brand-logo-mini" href="gestionNote.html"><img src="images/logo-mini.svg" alt="logo"/></a>-->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../../images/faces/face28.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../Accueil.html">
              <i class="bi bi-arrow-left-circle-fill menu-icon "></i>
              <span class="menu-title">Retour à l'ENT</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gestNote.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="monProfil.html">
              <i class="bi bi-people-fill menu-icon"></i>
              <span class="menu-title">Mon Profil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="academique.html"  >
              <i class="bi bi-list-columns-reverse menu-icon"></i>
              <span class="menu-title">Mon Parcours </span>
            </a>
          </li>
          <li class="nav-item">
            <span class="app">Impression</span>
          </li>
          <li class="nav-item">
            <a class="nav-link"  data-toggle="modal" data-target="#bilanAbsModal" href="#" aria-expanded="false" aria-controls="ui-basic">
              <i class="bi bi-people-fill menu-icon"></i>
              <span class="menu-title">Bilan d'absence</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#cert" aria-expanded="false" aria-controls="ui-basic">
              <i class="bi bi-file-check-fill menu-icon"></i>
              <span class="menu-title">Certificats</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="cert">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#AttestationModal">Attestation </a></li>
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#CertModal">Certificats scolarité</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#etudiant" aria-expanded="false" aria-controls="ui-basic">
              <i class="bi bi-people-fill menu-icon"></i>
              <span class="menu-title">Etudiants</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="etudiant">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#carteModal">Carte d'étudiant</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#classeModal">Liste des classes</a></li>
               
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#pv" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">PV & Relevé</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="pv">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#pvModal">PV</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#pvSynModal"> Pv de synthése</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#RelevéModal">Relevé</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
             
            <div class="row">
                <div class="col-md-11 grid-margin stretch-card">
                    <div class="card position-relative">
                        <div class="card-body">
                            <div 
                                class="carousel slide detailed-report-carousel position-static pt-2"
                                data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                          <div class="col-md-11 col-xl-3 d-flex flex-column justify-content-start">
                                            <div class="ml-xl-4 mt-3">
                                              <span style="text-align: left; font-size:larger"; ><h3> Mon Profil </h3></span>
                                              
                                             <div class="d-flex">
                                              <img src="assets/images/faces/fran.jpg" alt="user" style=" width: 173px;height: 172px; border-radius: 200px; margin-left: 6px; margin-top: 19px;">
                                             </div>
                                             </div>  
                                             </div>
                                            <div class="col-md-12 col-xl-9">
                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div >
                                                            <table class="table table-borderless report-table">
                                                                <tr>
                                                                    <td class="text-muted">Nom </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">Ateba
                                                                            Jean</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Prénom </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">Berba
                                                                        </h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                  <td class="text-muted">Matricule </td>
                                                                  <td>
                                                                      <h5 class="font-weight-bold mb-0">1920i45
                                                                      </h5>
                                                                  </td>
                                                              </tr>
                                                                <tr>
                                                                    <td class="text-muted">Date de Naissance
                                                                    </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            23/01/2001</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Lieux de Naissance
                                                                    </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            Bertoua</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Niveau Actuel </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            Ingénieur 1</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">E-mail </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            JeanB@gmail.com</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">N° tél </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            614523687</h5>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-muted">Mot de passe </td>
                                                                    <td>
                                                                        <h5 class="font-weight-bold mb-0">
                                                                            xxxxxxx</h5>
                                                                    </td>
                                                                    <td>
                                                                      <button style="margin-left:101px;"  type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#motPasse" href="#motPasse" aria-expanded="false" aria-controls="ui-basic">
                                                                        <span class="menu-title">Modifier</span>
                                                                      </button>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

                   
        <!-- content-wrapper ends -->
         <!-- Modal for Attestation  -->
  <div class="modal fade" id="AttestationModal" tabindex="-1" aria-labelledby="AttestationModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Demandez une Attestation de Reussite</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3">
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre nom & prénom</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre nom & prénom" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre matricule</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre matricule" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div><!-- End Modal for Attestaion  -->

   <!-- Modal for mot de passe -->
   <div class="modal fade" id="motPasse" tabindex="-1"
   aria-labelledby="motPasse" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="modal-title">
                   Modifier mes Informaions</h5>
               <button type="button" class="btn-close"
                   data-dismiss="modal"
                   aria-label="Close"></button>
           </div>
           <div class="modal-body">
            <form action="" class="row justify-content-center gap-3">
              <div class="col-lg-12 row flex-column">
                <label for="year" class="form-label">Veuillez entrer votre prénom</label>
                <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre nom" class="form-control" />
              </div>
              <div class="col-lg-12 row flex-column">
                <label for="year" class="form-label">Veuillez entrer votre  prénom</label>
                <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre  prénom" class="form-control" />
              </div>
              <div class="col-lg-12 row flex-column">
                <label for="year" class="form-label">Veuillez entrer votre matricule</label>
                <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre matricule" class="form-control" />
              </div>
              <div class="col-lg-12 row flex-column">
                <label for="class" class="form-label">Sélectionner la classe</label>
                <select name="class" id="class" class="form-select">
                  <option value="">Sélectionner la classe</option>
                  <option value="">INGE 1 - Tronc commun</option>
                  <option value="">INGE 2 - Tronc commun</option>
                  <option value="">INGE 3 ISI</option>
                  <option value="">INGE 3 SRT</option>
                  <option value="">INGE 4 ISI</option>
                  <option value="">INGE 4 SRT</option>
                  <option value="">INGE 5 ISI</option>
                  <option value="">INGE 5 SRT</option>
                </select>
              </div>
              <div class="col-lg-12 row flex-column">
                <label for="year" class="form-label">Veuillez entrer votre adresse mail</label>
                <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre adresse mail" class="form-control" />
              </div>
              <div class="col-lg-12 row flex-column">
                <label for="year" class="form-label">Veuillez entrer votre n° de téléphone</label>
                <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre n° de téléphone" class="form-control" />
              </div>
            </form>
          </div>
           
            <span class="app"> Modifier mon Mot de Passe</span>
        
           <div class="modal-body">
               <form action=""
                   class="row justify-content-center gap-3">
                   <div class="col-lg-12 row flex-column">
                       <label for="year"
                           class="form-label">Ancien mot de
                           passe</label>
                       <input type="text" name="cursus"
                           id="cursus"
                           placeholder="Entrer l'ancien mot de passe"
                           class="form-control" />
                   </div>
                   <div class="col-lg-12 row flex-column">
                       <label for="year"
                           class="form-label">Nouveau mot
                           de passe</label>
                       <input type="text" name="cursus"
                           id="cursus"
                           placeholder="Entrer le nouveau mot de passe"
                           class="form-control" />
                   </div>
                   <div class="col-lg-12 row flex-column">
                       <label for="year"
                           class="form-label"> Confirmez le
                           nouveau mot de passe</label>
                       <input type="text" name="cursus"
                           id="cursus"
                           placeholder="Confirmez le nouveau mot de passe"
                           class="form-control" />
                   </div>
               </form>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-light"
                   data-bs-dismiss="modal">Fermer</button>
               <input type="submit" class="btn btn-primary"
                   value="Enregistrer">
           </div>
       </div>
   </div>
</div><!-- End Modal for mot de passe  -->

  <!-- Modal for Certificat de scolarité  -->
  <div class="modal fade" id="CertModal" tabindex="-1" aria-labelledby="CertModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Demandez un Certificat de scolarité  </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3">
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre nom & prénom</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre nom & prénom" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre matricule</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre matricule" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div><!-- End Modal for  Certificat de scolarité   -->
  
  <!-- Modal for Bilan Absence -->
  <div class="modal fade" id="bilanAbsModal" tabindex="-1" aria-labelledby="bilanAbsModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bilanAbsModal">Générer le  bilan d'absence</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3" >
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="semester" class="form-label">Sélectionner le semestre</label>
              <select name="semester" id="semester" class="form-select">
                <option value="">Semestre 1</option>
                <option value="">Semestre 2</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div><!-- End Modal for Bilan Absence -->

        <!-- Modal for carte d'etudiant -->
  <div class="modal fade" id="carteModal" tabindex="-1" aria-labelledby="carteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Générer les cartes d'etudiant </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3">
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div><!-- End Modal for carte d'etudiant  -->
  
  <!-- Modal for liste des étudiants -->
  <div class="modal fade" id="classeModal" tabindex="-1" aria-labelledby="classeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="classeModal">Générer la liste des étudiants</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3" >
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal for liste des étudiants -->

  <!-- Modal for pv -->
  <div class="modal fade" id="pvModal" tabindex="-1" aria-labelledby="pvModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pvModal">Générer un PV</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3" >
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="semester" class="form-label">Sélectionner le semestre</label>
              <select name="semester" id="semester" class="form-select">
                <option value="">Semestre 1</option>
                <option value="">Semestre 2</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal for PV -->

   <!-- Modal for pv  synthése-->
   <div class="modal fade" id="pvSynModal" tabindex="-1" aria-labelledby="pvSynModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pvSynModal">Générer une synthése de PV</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3" >
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="semester" class="form-label">Sélectionner le semestre</label>
              <select name="semester" id="semester" class="form-select">
                <option value="">Semestre 1</option>
                <option value="">Semestre 2</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal for PV synthése -->

  <!-- Modal for releve  -->
  <div class="modal fade" id="RelevéModal" tabindex="-1" aria-labelledby="RelevéModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Générer un Relevé </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" class="row justify-content-center gap-3">
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre nom & prénom</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre nom & prénom" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Veuillez entrer votre matricule</label>
              <input type="text" name= "cursus" id="cursus"  placeholder="Entrer votre matricule" class="form-control" />
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="class" class="form-label">Sélectionner la classe</label>
              <select name="class" id="class" class="form-select">
                <option value="">INGE 1 - Tronc commun</option>
                <option value="">INGE 2 - Tronc commun</option>
                <option value="">INGE 3 ISI</option>
                <option value="">INGE 3 SRT</option>
                <option value="">INGE 4 ISI</option>
                <option value="">INGE 4 SRT</option>
                <option value="">INGE 5 ISI</option>
                <option value="">INGE 5 SRT</option>
              </select>
            </div>
            <div class="col-lg-12 row flex-column">
              <label for="year" class="form-label">Sélectionner l'année académique</label>
              <select name="year" id="year" class="form-select">
                <option value="">2022 - 2023</option>
                <option value="">2021 - 2022</option>
                <option value="">2020 - 2021</option>
                <option value="">2019 - 2020</option>
                <option value="">2018 - 2019</option>
              </select>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>
      </div>
    </div>
  </div><!-- End Modal for  releve  -->

        <!-- partial:partials/_footer.html -->
         <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. </span>          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/chart.js/Chart.min.js"></script>
  <script src="../../vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="../../js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/dashboard.js"></script>
  <script src="../../js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

