



<!-- <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-title">Modifier ses Informations</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form class="forms-sample">
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputPhoto" class="col-sm-9 col-form-label">Insérer une photo</label>
          <input type="file" name="img[]" class="file-upload-default">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
            <span class="input-group-append">
              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
            </span>
          </div>
        </div>
        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember me
          </label>
        </div>
        <input type="submit" class="btn btn-primary mr-2" value="Envoyer">
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
    </div>
    </div>
</div> -->

<!-- End Modal for note statement -->

  <!-- Modal for note statement -->
<div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="modifierModal" aria-hidden="true" [ngClass]="{show: this.showModal}">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Modifier ses Informations</h5>
    <button type="button" class="btn-close" (click) ="onCloseM()"></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" *ngIf="!loading" [formGroup]="modificationForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nom</label>
        <div class="col-sm-9">
          <input type="text" formControlName="firstName" class="form-control" id="exampleInputUsername2" placeholder="Entrez votre nom">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Prénom</label>
        <div class="col-sm-9">
          <input type="text" formControlName="lastName" class="form-control" id="exampleInputUsername3" placeholder="Entrez votre prénom">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputMobile" class="col-sm-3 col-form-label">Téléphone</label>
        <div class="col-sm-9">
          <input type="tel" formControlName="telephone" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password
          <em *ngIf="id">(Leave blank to keep the same password)</em>
        </label>
        <div class="col-sm-9">
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
        <div class="col-sm-9">
          <input type="password" formControlName="password" class="form-control" id="exampleInputConfirmPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleInputPhoto" class="col-sm-9 col-form-label">Insérer une photo</label>
        <input type="file" name="img[]" class="file-upload-default">
        <div class="input-group col-xs-12">
          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
          <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
          </span>
        </div>
      </div>
      <div class="form-check form-check-flat form-check-primary">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Remember me
        </label>
      </div>
      <button  [disabled]="submitting" type="submit" class="btn btn-primary mr-2" >
        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
        Enregistrer
        </button>
      <button href="profile"  class="btn-close" (click) ="onCloseM()"class="btn btn-light">Cancel</button>
    </form>
    <div *ngIf="loading" class="text-center m-5">
      <span class="spinner-border spinner-border-lg align-center"></span>
  </div>
  </div>
  </div>
  </div>
</div><!-- End Modal for note statement -->






<!-- End Modal for detail candidate -->
