



<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="../home.html">
          <i class="bi bi-arrow-left-circle-fill menu-icon "></i>
          <span class="menu-title">Accueil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="monProfil.html">
          <i class="bi bi-people-fill menu-icon"></i>
          <span class="menu-title">Mon Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#doc" aria-expanded="false" aria-controls="ui-basic">
          <i class="bi bi-file-check-fill menu-icon"></i>
          <span class="menu-title">Documents</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="doc">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../gestionNote/listedocuments.html">Upload </a></li>
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#CertModal">Certificats scolarité</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  data-toggle="modal" data-target="#bilanAbsModal" href="#" aria-expanded="false" aria-controls="ui-basic">
          <i class="bi bi-people-fill menu-icon"></i>
          <span class="menu-title">Bilan d'absence</span>
        </a>
      </li>

  
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#etudiant" aria-expanded="false" aria-controls="ui-basic">
          <i class="bi bi-people-fill menu-icon"></i>
          <span class="menu-title">Etudiants</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="etudiant">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#carteModal">Carte d'étudiant</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#classeModal">Liste des classes</a></li>
           
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#pv" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">PV & Relevé</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="pv">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#pvModal">PV</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#pvSynModal"> Pv de synthése</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#RelevéModal">Relevé</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </nav>